body, html{

	background-color:  #00796B;
}
*{
	font-family: 'Roboto', sans-serif; 
}
#map{
	width: 80vw;
	height: 50vh;
	margin: 2em 0;
}
.border{
	margin-top: 3em; 
	width: 70vh;
	background-color: transparent;
	color: white;
	border:0 !important;
	border-bottom: 1px solid white !important;
	padding-left: 1em;
}

.container_buton{
	margin-top: 10px;
}

#buton{
	background-color: #fff;
	width: 75px;
	border-radius: 25px;
	padding: 0;
	color: #00796B;
	margin:3em 0;
}

.date_content{
	color: rgba(255,255,255,0.3);
	font-size: 30px;
}
.temperature{
	font-size: 130px;
}
.info-meteo, .info-map, .temperature{
	color: #fff;
}

.meteo-container{
	display:flex;
	justify-content: center;
	flex-direction: column;
}
.info-meteo{
	align-self: center;
	width: 30%;
	text-align: left;
	font-size: 20px;
}

.map-container{
	display:flex;
	flex-direction: row;
}

.info-map{
	margin-right: 2em;	
}